<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.admin.server.dao.RoleDao">
    <resultMap id="BaseResultMap" type="com.github.admin.common.domain.Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="findRoleByRoleIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select * from sys_role
        <where>
            <if test="roleIds != null">
                id in
                <foreach item="roelId" index="index" collection="roleIds"
                         open="(" separator="," close=")">
                    #{roelId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findRoleByPageCount" parameterType="map" resultType="java.lang.Long">
        select count(*) from sys_role
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="title != null">
                and title like concat('%',#{title},'%')
            </if>
        </where>
    </select>
    <select id="findRoleByPageList" parameterType="map" resultMap="BaseResultMap">
        select * from sys_role
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="title != null">
                and title like concat('%',#{title},'%')
            </if>
        </where>
        <if test="orderByColumn != null and asc != null">
            order by ${orderByColumn} ${asc}
        </if>
        <if test="startIndex != null and endIndex != null">
            limit #{startIndex},#{endIndex}
        </if>
    </select>

    <select id="findRoleByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from sys_role where title = #{title}
    </select>

    <insert id="insert">
        insert into sys_role(title,name,status,remark,create_date,update_date,create_by,update_by)
        values (#{title},#{name},#{status},#{remark},#{createDate},#{updateDate},#{createBy},#{updateBy})
    </insert>
    <select id="findRoleById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from sys_role where id = #{id}
    </select>

    <update id="update">
        update sys_role
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteRoleById" parameterType="long">
        delete from sys_role where id = #{id}
    </delete>
</mapper>